<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>Please sign in</title>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
  <link href="https://getbootstrap.com/docs/4.0/examples/signin/signin.css" rel="stylesheet" crossorigin="anonymous"/>
</head>
<body>
<div class="container">
  [ㅁㅁㅁㅁ]
  <form class="form-signin" method="post" action="/authorize">
    <h2 class="form-signin-heading">Please sign in</h2>
    <p>
      <label for="username" class="sr-only">Username</label>
      <input type="text" id="username" name="username" class="form-control" placeholder="Username" required autofocus>
    </p>
    <p>
      <label for="password" class="sr-only">Password</label>
      <input type="password" id="password" name="password" class="form-control" placeholder="Password" required>
    </p>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
  </form>

  <div class="container unauthenticated">
    <div>
      With GitHub: <a href="/oauth2/authorization/github">click here</a>
    </div>
    <div>
      With Google: <a href="/oauth2/authorization/google">click here</a>
    </div>

    <div>
      With facebook: <a href="/oauth2/authorization/facebook">click here</a>
    </div>
    <div>
      <a id="custom-login-btn" href="javascript:loginWithKakao()">
        <img
            src="//k.kakaocdn.net/14/dn/btqCn0WEmI3/nijroPfbpCa4at5EIsjyf0/o.jpg"
            width="222"
        />
      </a>
      <p id="token-result"></p>
      <script type="text/javascript">
        function loginWithKakao() {
          Kakao.Auth.authorize({
            redirectUri: 'https://developers.kakao.com/tool/demo/oauth'
          })
        }
        // 아래는 데모를 위한 UI 코드입니다.
        displayToken()
        function displayToken() {
          const token = getCookie('authorize-access-token')
          if(token) {
            Kakao.Auth.setAccessToken(token)
            Kakao.Auth.getStatusInfo(({ status }) => {
              if(status === 'connected') {
                document.getElementById('token-result').innerText = 'login success. token: ' + Kakao.Auth.getAccessToken()
              } else {
                Kakao.Auth.setAccessToken(null)
              }
            })
          }
        }
        function getCookie(name) {
          const value = "; " + document.cookie;
          const parts = value.split("; " + name + "=");
          if (parts.length === 2) return parts.pop().split(";").shift();
        }
      </script>
    </div>
  </div>
</div>
</body></html>